footer {
    --icon-size: 2em;
    display: grid;
    grid-template-rows: var(--icon-size);
    grid-template-columns: repeat(3, var(--icon-size));
    justify-content: space-around;
    padding: 0.5em;
}

footer button {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border: 1px solid black;
    border-radius: 100vh;
}

footer .about {
    background-image: url(./../resources/about.svg);
}

footer .toTop {
    background-image: url(./../resources/about.svg);
}

footer .clear {
    background-image: url(./../resources/about.svg);
}