.App {
  height: 100%;

  max-width: 600px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

main {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  /* padding: 1em 0.5em; */
  /* gap: 2em; */
}