*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --secondary-bg: hsl(192 54% 90% / 1);
  --main-bg: hsl(192 54% 56% / 1);
  --main-fg: black;
  --main-border: gray;
  --main-accent-bg: hsl(200 74% 56% / 1);
  --main-accent-fg: white;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--main-bg);
}